<h1>Interessante Links</h1>
<br />
<div class="alert alert-warning">
  <i class="fa fa-warning"></i> Für den Inhalt der verlinkten Seiten ist der Bremer-Italo-Club nicht verantwortlich.
</div>
<!-- Interessante Homepages -->
<div class="card">
  <div class="card-header success-color lighten-1 white-text">
    Interessante Italo-Homepages
  </div>
  <div class="card-body">
    <ul>
      <li>
        <a href="http://www.italotreff.de/" target="_blank">Termine bei Italo-Treff</a>
      </li>
      <li>
        <a href="http://www.ital-web.de/" target="_blank">Eine Morini-Homepage – alles über Morini</a>
      </li>
      <li>
        <a href="http://www.motalia.de/" target="_blank">Motalia – eine Zeitschrift nur für Italo-Motorräder</a>
      </li>
      <li>
        <a href="http://www.die-dellortos.de/" target="_blank">Die Dellortos</a>
      </li>
    </ul>
  </div>
</div>
<!--/.Interessante Homepages -->
<!-- Homepages befreundeter Clubs -->
<div class="card">
  <div class="card-header danger-color lighten-1 white-text">
    Homepages befreundeter Clubs
  </div>
  <div class="card-body">
    <ul>
      <li>
        <a href="http://www.ostsee-italo.de/" target="_blank">Italo-Club Ostsee</a>
      </li>
      <li>
        <a href="http://www.italofruehstueck.de/" target="_blank">Nortmoorer Italofrühstück</a>
      </li>
      <li>
        <a href="http://www.italotreffen-nordenham.de/" target="_blank">Italotreffen Nordenhamm</a>
      </li>
      <li>
        <a href="http://www.guzzifreunde-eisenherz.de/" target="_blank">Guzzifreunde Eisenherz</a>
      </li>
    </ul>
  </div>
</div>
<!--/.Homepages befreundeter Clubs -->
<!-- Ausstellungen, Messen... -->
<div class="card">
  <div class="card-header success-color lighten-1 white-text">
    Ausstellungen, Messen...
  </div>
  <div class="card-body">
    <ul>
      <li>
        <a href="http://www.classicmotorshow.de/" target="_blank">Bremer Classic Motorshow</a>
      </li>
    </ul>
  </div>
</div>
<!--/.Ausstellungen, Messen... -->
<!-- Holländische Oldtimer-Renntermine -->
<div class="card">
  <div class="card-header danger-color lighten-1 white-text">
    Holländische Oldtimer-Renntermine
  </div>
  <div class="card-body">
    <ul>
      <li>
        <a href="http://www.classicracingteam.nl/" target="_blank">ClassicRacingTeam.NL</a>
      </li>
      <li>
        <a href="http://www.classicracingteam.nl/temp/CRT%20kalender%202017.pdf" target="_blank">ClassicRacingTeam
          Kalendar 2017</a>
      </li>
    </ul>
  </div>
</div>
<!--/.Holländische Oldtimer-Renntermine -->
