<h1>Kontaktiere uns</h1>
<br />

<div class="container">
  <div class="col-md-12 col-md-offset-4 col-sm-12 col-sm-offset-3 col-xs-12 col-xs-offset-0 well">

    <div class="alert alert-info">Das Kontaktformular ist zur Zeit leider aus Technischen Gründen nicht funktionsfähig.
      Bei Fragen schicke uns einfach
      eine E-Mail an
      <img src="assets/img/email_info.png">
    </div>

  </div>
</div>
