<!--Footer-->
<footer class="page-footer font-small blue-grey lighten-5">
  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">
    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-4 mt-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Kurzlinks</h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />

        <p>
          <a class="dark-grey-text" [routerLink]="['/']">
            <i class="fas fa-home"></i> Startseite</a
          >
        </p>
        <p>
          <a class="dark-grey-text" [routerLink]="['/treffen/2018']">
            <i class="fas fa-images"></i> Bilder vom letzten Treffen</a
          >
        </p>
        <p>
          <a class="dark-grey-text" [routerLink]="['/gaestebuch']">
            <i class="fas fa-list"></i> Gästebuch</a
          >
        </p>
        <p>
          <a class="dark-grey-text" (click)="kontaktModal.show()">
            <i class="fas fa-envelope-open"></i> Kontakt</a
          >
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-8 col-lg-9 col-xl-9 mb-4 mt-4">
        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Information Treffen</h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />
        <p>
          Durch die Aktuelle Situation müssen auch wir unser Treffen
          verschieben. Nähere Informationen folgen demnächst!
        </p>
        <!-- <p>Weite Infos dazu folgen...</p> -->
        <!-- <p>Für mehr Infos siehe bitte
            <b>
              <a [routerLink]="['/termine/2020']">Termine 2020</a>
            </b>
          </p> -->
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3">
    <p class="mb-0 dark-grey-text">
      &copy; 1988 - {{ currentYear }} Bremer-Italo-Club -
      <a
        class="dark-grey-text"
        style="text-decoration: underline"
        [routerLink]="['/impressum']"
        >Impressum</a
      >
      -
      <a
        class="dark-grey-text"
        style="text-decoration: underline"
        [routerLink]="['/datenschutzerklaerung']"
        >Datenschutzerklärung</a
      >
      <br />
      <!-- <a class="dark-grey-text" href="https://gitlab.com/unbekannt3/BIC-Homepage" target="_blank">Made with
        <i class="fas fa-heart"></i> as OpenSource</a> -->
    </p>
  </div>
  <!-- Copyright -->
</footer>
<!--/.Footer-->

<!-- Kontakt Info Modal -->
<div
  mdbModal
  #kontaktModal="mdbModal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="kontaktModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-notify modal-warning" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="kontaktModal.hide()"
        >
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Das Kontaktformular steht derzeit aus Technischen Gründen nicht zur
          Verfügung. Falls du eine Frage hast sende uns einfach eine E-Mail an:
          <img src="assets/img/email_info.png" />
        </p>
      </div>
    </div>
  </div>
</div>
<!-- /.Kontakt Info Modal -->
