<h1>Moin Bollerfreunde!</h1>
<p class="text-justify">
  Mittlerweile 34 Jahre Bremer Italo Club „BIC“ - eine lange Zeit ! Der BIC
  wurde 1988 von Stefan Aumann, der 1994 beim schönsten Hobby der Welt auf
  seiner Laverda ums Leben kam, als Interessengemeinschaft und Stammtisch für
  FahrerInnen und Freundinnen/Freunde italienischer Motorräder ins Leben
  gerufen. Mit heute 22 Mitgliedern aus und bis weit um Bremen waren wir von
  Anfang an aber immer markenoffen. Italienermopeds haben und fahren ist schön,
  aber man muss kein italienisches Motorrad in der Garage haben, um bei uns
  mitzumachen. Genauso sieht unser Motorradfuhrpark auch aus – natürlich die
  italienischen Bellas (vorwiegend Moto Guzzi und Ducatis, seltener Laverda, MV
  Agusta und Cagiva – und auch Morinis und Benellis hatten wir schon),
  BMW-Boxer, Japaner, Triumph und sporadisch auch Harley und altes germanisches
  2 Takt Gestühl von DKW findet sich bei uns. Wir haben über die Jahre viel
  probiert und wie man am Gründungsjahr vermuten kann, haben die wenigstens von
  uns ohne Nachhilfe aus der Chemieküche noch ihre Haarfarbe aus jungen Jahren –
  wenn sie denn überhaupt noch welche haben. Das Motorradfahren findet bei uns
  eher in kleinen Gruppen statt, aber wir versuchen zumindest im Frühjahr und im
  Herbst eine Wochenendausfahrt in größerer Runde auf die Beine zu stellen –
  entfernungstechnisch sind hier natürlich Weserbergland, Harz und das Sauerland
  erste Wahl. Unser Hauptevent: Von 1991 bis 2019 haben wir bei der
  <a [routerLink]="['/anfahrt']"
    >Gaststätte Am Backsberg zwischen Oyten und Fischerhude</a
  >
  unser BIC-Italo-Treffen für Fahrer und Freunde italienischer Motorräder und
  guter Rockmusik ausgerichtet - aber leider sind BIC Treffen am Backsberg nun
  Geschichte.
  <span style="color: red"
    >Unser eigentlich für den 01.07. bis 03.07.2022 geplantes 27. BIC Treffen
    muss wegen einiger organisatorischer Veränderungen dort und anderen
    schmerzlichen „Nebenwirkungen“, die durch diese Änderungen mit einhergehen
    leider ausfallen!
  </span>
</p>
<p class="text-justify">
  <span style="font-weight: bold"
    >Und: Es wird kein weiteres BIC Treffen am Backsberg geben!</span
  >
  <br />
  Aber: Kopfin den Sand stecken gilt nicht. Wir wollen weitermachen und auch
  wieder ein BIC Treffen veranstalten und suchen nach einem neuen
  Veranstaltungsort, an dem uns das unter annehmbaren Verhältnissen wieder
  möglich ist, ein Treffen auszurichten an dem unsere Gäste und wir Veranstalter
  unseren Spaß haben. Das aber war in der Kürze der Zeit, die nach dem
  endgültigen Aus am Backsberg blieb nicht möglich. Wir hoffen das das 27. BIC
  Treffen dann 2023 stattfinden kann. Wie wir in Bremen sagen „3 mal ist Bremer
  Recht“ wären dann 3 Jahre Pause durch.
</p>
<p class="text-justify">
  Es bleiben viel schöne Erinnerungen an tolle Treffen mit tollen Gästen von
  denen über die Jahre viele sehr gute Freunde geworden sind. Dafür sagen wir
  von hier aus allen die uns je beim Treffen besucht haben Danke! Legendär unser
  Treffen 2002, als wir wegen des Wümme-Hochwassers nachts bei bester Party
  innerhalb einer Stunde das Gelände räumen mussten. Am Ende stand das Gelände
  bis zu einem Meter hoch unter Wasser – so extrem gabs das aber vorher und
  danach auch nicht wieder.
</p>
<p class="text-justify">
  Unseren Stammtisch – der über die Jahre kleiner geworden ist, halten wir wenn
  nichts dazwischen kommt derzeit jeden 1. Mittwoch im Monat im Fratelli Miccoli
  2 hinterm „Kuhhirten“ mitten in Bremen ab. Wer da mal kommen möchte fragt am
  besten vorher Oedings (04207/801506) oder bei Sigi (0421/5148529) oder hier
  per <a href="mailto:info@bremer-italo-club.de">E-Mail</a> an.
</p>
<p class="text-justify">
  Bei uns sind alle Marken und Freunde willkommen, Hauptsache man kann damit
  ordentlich Kurven rocken. Auch sonst versuchen wir gelegentlich Gemeinsames
  auf die Beine zu stellen. Wir fahren während der Saison auch immer mehrere
  Treffen an um da abzufeiern-wenn sie denn stattfinden. Das ist ja leider mit
  der Corona-Pandamie in den letzten zwei Jahren kaum noch möglich gewesen. Wir
  hoffen alle dass dieses Elend möglichst bald hinter uns liegt. Seit ein paar
  Jahren machen wir zum Beispiel auch ein Frühstück mit Ausfahrt (bei passendem
  Wetter). Da sehen wir dann auch gleich, was denn im Winter beim Schrauben
  nicht so gut geklappt hat. In der kalten Jahreszeit steigt unsere schon
  traditionelle Kohltour und natürlich auch unsere Weihnachtsfeier zum
  Jahresabschluss.
</p>
<p class="text-justify">
  Wer Mitglied im BIC ist, wird von Sigi oder anderen gelegentlich durch einen
  Clubbrief per Email oder über unseren whatsapp-Chat mit den aktuellen
  Neuigkeiten versorgt. Wer mitmachen möchte zahlt einen Unkostenbeitrag von 5 €
  im Jahr.
</p>
