<h1>Bilder von der Pfingstausfahrt 2018 zur Villa Löwenherz</h1>
<gallery [flexBorderSize]="3" [flexImageSize]="6"
  [metadataUri]="'https://www.bremer-italo-club.de/assets/img/gallery/Pfingstfahrt2018/data.json'">
</gallery>
