<h1>Termine 2016</h1>
<table class="table table-responsive table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Datum</th>
      <th>Was/Wo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>24. April</td>
      <td>
        <a href="http://svrt.de/" target="_blank">Italo- und Boxerfrühstück in Visbeck</a>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>5.-8. Mai</td>
      <td>
        BIC Frühjahrsausfahrt nach Leinefelden-Worbis Harz – Kyffhäuser – Kaufunger Wald
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>15./16. Mai</td>
      <td>
        <a href="http://www.fischereihafen-rennen.de/" target="_blank">Fischkistenrennen Bremerhaven</a>
      </td>
    </tr>
    <tr class="table-info">
      <th scope="row">4</th>
      <td>1.-3. Juli</td>
      <td>
        <p>25. Treffen des Bremer-Italo-Club am Backsberg/Oyten</p>
        <p>Links zur Anfahrt und Einladung oben im Menü</p>
      </td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>5./7. August</td>
      <td>Treffen Laverdafreunde Silberstedt</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>2.-4. September</td>
      <td>
        <a href="http://www.ostsee-italo.de/" target="_blank">Klönschnack der Ostsee-Italo-IG in Missunde</a>
      </td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>13. September</td>
      <td>
        <a href="http://www.italofruehstueck.de/" target="_blank">Nortmoor Italo Frühstück</a>
      </td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>16.-18. September</td>
      <td>Italotreffen Moto Guzzi Club Olpe Biggesee in Wenden-Elben</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>7./9. Oktober</td>
      <td>Herbstausfahrt des BIC ins Sauerland nach Eslohe-Reiste</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>10. Dezember</td>
      <td>ab 19.00 Uhr Weihnachtsfeier des BIC in der Gaststätte Hafenrummel in der Bremer Überseestadt , Am Speicher XI
        11 (im
        Keller des BLG-Forum) 28217 Bremen</td>
    </tr>
    <tr>
      <td colspan="3">Info: Holländigsche Oldtimer-Renntermine sind seperat unter
        <a [routerLink]="['/links']">Links</a> aufgelistet</td>
    </tr>
    <tr class="table-active">
      <th colspan="3" class="text-center">Ständige Termine</th>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td colspan="2">Der Stammtisch des BIC findet jeden ersten Mittwoch im Monat ab 20.00 Uhr zurzeit beim Paulaner am
        Wehrschloß beim
        Bremer Weserwehr, Hastedter Osterdeich 230, 28207 Bremen. Das kann sich aber ändern. Interessenten rufen am
        Besten
        vorher mal bei Oedings (04207/801506) oder bei Sigi Pohl (0421/5148529) durch.</td>
    </tr>
  </tbody>
</table>
