<h1>Bilder vom Treffen 2004</h1>
<p>
  <i class="fa fa-warning"></i> Durch nicht mehr vorhandene Originaldateien können diese Bilder leider nicht schärfer
  angezeigt werden</p>
<gallery [flexBorderSize]="3" [flexImageSize]="6"
  [metadataUri]="'https://www.bremer-italo-club.de/assets/img/gallery/Backsberg2004/data.json'">
</gallery>
