<br />
<div class="row justify-content-center align-items-center">
  <div class="border border-secondary rounded col-md-8 col-xs-12 text-center" style="background-color: #f3f3f3;">
    <h1 style="color: #ff0000;" class="font-bold">
      Einladung
    </h1>
    <p>zum
      <b>27. Treffen des Bremer Italo Clubs vom <s>03. bis 05. Juli 2020</s>
      </b>
    </p>
    <p>für alle Fahrer und Freunde italienischer Motorräder
      <br> …wie jedes Mal am Backsberg zwischen Oyten und Fischerhude bei Bremen.</p>
    <p>Anfahrt zum Treffen findet ihr
      <a [routerLink]="['/anfahrt']">hier</a>
    </p>
    <!-- <img src="assets/img/einladung_treffen_2018.jpg" class="img-fluid"> -->
    <p>Wir freuen uns auf ein Wiedersehen und wünschen eine regen- und pannenfreie Anfahrt.</p>
    <p>Die Einladung kann man sich hier herunterladen:</p>
    <p>Einladung 2020 in schick als
      <a href="https://cdn.unbekannt3.eu/dl/bic/einladung_treffen-2020.pdf" target="_blank" rel="noopener noreferrer"
        class="disabled">PDF-Datei</a>
    </p>
    <p>oder direkt im Google Kalender Speichern:
      <a href="https://www.google.com/calendar/render?action=TEMPLATE&text=B.I.C.+27.+Treffen&dates=20200703/20200705&details=Mehr+Infos+unter+https://www.bremer-italo-club.de&location=Backsberg+1,+28876+Oyten,+Deutschland&sf=true&output=xml&ctz=Europe/Berlin"
        target="_blank" rel="noopener noreferrer" class="disabled">
        <img src="https://www.google.com/calendar/images/ext/gc_button1_de.gif" border="0">
      </a>
      <br>
      <small>Kleingedrucktes: Für Schäden vor, während und nach unserer Veranstaltung kann keine Haftung übernommen
        werden.</small>
    </p>
  </div>
</div>
<br />
<br />
