<h1>Impressum</h1>
<br />
<div class="entry-content">
  <div class="text-center">
    <p>
      <img src="assets/img/imprint_address.png">
      <br>
      <img src="assets/img/email_info.png">
    </p>
  </div>
  <p>Haftungsausschluss (Disclaimer)
    <br> Haftung für Inhalte</p>
  <p>Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und
    Aktualität der
    Inhalte können wir jedoch keine Gewähr übernehmen.</p>
  <p>Als Diensteanbieter sind wir gemäß § 6 Abs.1 MDStV und § 8 Abs.1 TDG für eigene Inhalte auf diesen Seiten nach den
    allgemeinen
    Gesetzen verantwortlich. Diensteanbieter sind jedoch nicht verpflichtet, die von ihnen übermittelten oder
    gespeicherten
    fremden Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
    Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben
    hiervon
    unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten
    Rechtsverletzung
    möglich. Bei bekannt werden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>
  <p>Haftung für Links</p>
  <p>Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb
    können
    wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der
    jeweilige
    Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf
    mögliche
    Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente
    inhaltliche
    Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei
    bekannt
    werden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>
  <p>Urheberrecht</p>
  <p>Die Betreiber der Seiten sind bemüht, stets die Urheberrechte anderer zu beachten bzw. auf selbst erstellte sowie
    lizenzfreie
    Werke zurückzugreifen.</p>
  <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen
    Urheberrecht. Beiträge
    Dritter sind als solche gekennzeichnet. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung
    außerhalb
    der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.
    Downloads
    und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.</p>
  <p>Datenschutz</p>
  <p>Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben
    werden, erfolgt
    dies soweit möglich stets auf freiwilliger Basis. Die Nutzung der Angebote und Dienste ist, soweit möglich, stets
    ohne
    Angabe personenbezogener Daten möglich.</p>
  <p>Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von
    nicht ausdrücklich
    angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die Betreiber der Seiten
    behalten
    sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch
    Spam-Mails,
    vor.
  </p>
  <p>Quelle: Disclaimer von eRecht24.de
    <a href="http://www.e-recht24.de/muster-disclaimer.htm"
      target="_blank">http://www.e-recht24.de/muster-disclaimer.htm </a>&nbsp;dem Informationsportal zum Internetrecht
    <a href="http://www.e-recht24.de/" target="_blank">http://www.e-recht24.de</a>
  </p>
  <h4>
    <a [routerLink]="['/datenschutzerklaerung']">Zur Datenschutzerklärung</a>
  </h4>
</div>
