<!-- Navbar -->
<app-navigation></app-navigation>
<main>
  <!-- Margin damit Content nicht unter die Navbar rutscht -->
  <div style="margin-top: 5em !important">
    <!-- Vorsorglicher Container für meine Faulheit -->
    <div class="container">
      <!-- IE Warnung -->
      <div *ngIf="this.isUnsupported">
        <div #ieError class="alert alert-warning" role="alert">
          Du verwendest den veralteten Internet Explorer, welcher mit unserer
          sowie vielen anderen Seiten nicht mehr Kompatibel ist. Bitte wechsle
          zu einem modernen Browser wie
          <a href="https://www.google.com/chrome/" target="_blank"
            >Google Chrome</a
          >, den neuen
          <a href="https://www.microsoft.com/de-de/edge" target="_blank"
            >Microsoft Edge</a
          >
          oder
          <a href="https://www.mozilla.org/de/firefox/new/" target="_blank"
            >Mozilla Firefox</a
          >.
        </div>
      </div>

      <!-- Alert für Treffen -->
      <div
        #alert
        class="alert alert-danger alert-dismissible fade show"
        role="alert"
      >
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="closeAlert()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        Dieses Jahr leider kein BIC Treffen! Weitere Infos im Text auf der
        Startseite
      </div>

      <!-- Router Content -->
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>
  </div>
</main>
<!-- Footer -->
<app-footer class="mt-auto"></app-footer>
