<div class="col-md-12">
  <div class="error-template">
    <h1>
      Fehler!</h1>
    <h2>
      404 Not Found</h2>
    <div class="error-details">
      Die gewünschte Seite wurde nicht gefunden...
    </div>
    <div class="error-actions">
      <a [routerLink]="['/']" class="btn btn-primary btn-lg">
        <i class="fas fa-home"></i>
        Zur Startseite</a>
      <a [routerLink]="['/kontakt']" class="btn btn-default btn-lg">
        <i class="fas fa-envelope"></i> Melde uns den Fehler </a>
    </div>
    <div class="error-details">
      Gebe bitte bei Meldung eines Fehlers die Adresse der derzeit aufgerufenen Seite als Homepage Link im
      Kontaktformular an
    </div>
  </div>
</div>
