<!-- 16:9 aspect ratio -->
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" height="100%"
    src="https://www.bremer-italo-club.de/assets/gaestebuch/guestbook.php">
    Bitte Warten - Das Gästebuch läd...</iframe>
</div>
