<h3>Anfahrt zum Bremer-Italo-Treffen am
  <a href="http://maps.google.de/maps?f=q&amp;source =embed&amp;hl=de&amp;geocode=&amp;q=Backsberg+1,+Oyten&amp;sll=51.151786,10.415039&amp;sspn=13.547057,2 8.256836&amp;ie=UTF8&amp;hq=&amp;hnear=Backsberg+1,+Bassen+28876+Oyten,+Verden,+Niedersachsen&amp;t=h&amp;a mp;ll=53.098972,9.056768&amp;spn=0.024737,0.054932&amp;z=14&amp;iwloc=A"
    target="_blank" rel="noopener noreferrer">Backsberg 1 in 28876 Oyten</a>
</h3>
<br />
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" style="border: 0;"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2395.6481811973263!2d9.0546513159896 88!3d53.09855320094332!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b121d05cff64d9%3A0xb10f07e 829141983!2sBacksberg+1%2C+28876+Oyten!5e0!3m2!1sde!2sde!4v1445183902993"
    width="600" height="450"></iframe>
</div>
<p>
  <small>
    <a href="http://maps.google.de/maps?f=q&amp;source =embed&amp;hl=de&amp;geocode=&amp;q=Backsberg+1,+Oyten&amp;sll=51.151786,10.415039&amp;sspn=13.547057,2 8.256836&amp;ie=UTF8&amp;hq=&amp;hnear=Backsberg+1,+Bassen+28876+Oyten,+Verden,+Niedersachsen&amp;t=h&amp;a mp;ll=53.098972,9.056768&amp;spn=0.024737,0.054932&amp;z=14&amp;iwloc=A"
      target="_blank">Größere Kartenansicht auf Google Maps</a>
  </small>
</p>
