<h1>Termine 2018</h1>
<table class="table table-responsive table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Datum</th>
      <th>Was/Wo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>19.-20. Mai</td>
      <td>BIC Frühjahrsausfahrt</td>
    </tr>
    <tr class="table-info">
      <th scope="row">2</th>
      <td>20.-22. Juli</td>
      <td>
        <p>26. Treffen des Bremer-Italo-Club am Backsberg/Oyten</p>
        <p>Links zur Anfahrt und Einladung oben im Menü</p>
      </td>
    </tr>
    <tr>
      <td colspan="3">Info: Holländigsche Oldtimer-Renntermine sind seperat unter
        <a [routerLink]="['/links']">Links</a> aufgelistet</td>
    </tr>
    <tr class="table-active">
      <th colspan="3" class="text-center">Ständige Termine</th>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td colspan="2">Der Stammtisch des BIC findet jeden ersten Mittwoch im Monat ab 20.00 Uhr zurzeit beim Paulaner am
        Wehrschloß beim
        Bremer Weserwehr, Hastedter Osterdeich 230, 28207 Bremen. Das kann sich aber ändern. Interessenten rufen am
        Besten
        vorher mal bei Oedings (04207/801506) oder bei Sigi Pohl (0421/5148529) durch.</td>
    </tr>
  </tbody>
</table>
