<h1>Termine 2017</h1>
<table class="table table-responsive table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Datum</th>
      <th>Was/Wo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>30. April</td>
      <td>Italo- und Boxerfrühstück in Visbeck – Letztes Mal dieses Jahr!</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>4./5. Juni</td>
      <td>
        <a href="http://www.fischereihafen-rennen.de/" target="_blank">Fischkistenrennen Bremerhaven</a>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>5./6. August</td>
      <td>Treffen Laverdafreunde Silberstedt</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>10. September</td>
      <td>
        <a href="http://www.italofruehstueck.de/" target="_blank">Nortmoor Italo Frühstück</a>
      </td>
    </tr>
    <tr>
      <td colspan="3">Info: Holländigsche Oldtimer-Renntermine sind seperat unter
        <a [routerLink]="['/links']">Links</a> aufgelistet</td>
    </tr>
    <tr class="table-active">
      <th colspan="3" class="text-center">Ständige Termine</th>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td colspan="2">Der Stammtisch des BIC findet jeden ersten Mittwoch im Monat ab 20.00 Uhr zurzeit beim Paulaner am
        Wehrschloß beim
        Bremer Weserwehr, Hastedter Osterdeich 230, 28207 Bremen. Das kann sich aber ändern. Interessenten rufen am
        Besten
        vorher mal bei Oedings (04207/801506) oder bei Sigi Pohl (0421/5148529) durch.</td>
    </tr>
  </tbody>
</table>
