<h1>Termine 2020</h1>

<table class="table table-responsive table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Datum</th>
      <th>Was/Wo</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-danger">
      <th scope="row">1</th>
      <td>03.-05. Juli</td>
      <td>
        <p style="color: red;">Verschoben auf nächstes Jahr!</p>
        <p>27. Treffen des Bremer-Italo-Club am Backsberg/Oyten</p>
        <p>Links zur Anfahrt und Einladung oben im Menü</p>
      </td>
    </tr>
    <tr class="table-danger">
      <th scope="row">2</th>
      <td>Ab 25. August
      </td>
      <td>
        <p style="color: red;">FÄLLT AUS!</p>
        <p>
          Einige B.I.C's sind beim Manx Grand Prix auf der Isle of Men
        </p>
      </td>
    </tr>
    <!-- <tr>
      <th scope="row">4</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td></td>
      <td></td>
    </tr> -->
    <tr class="table-active">
      <th colspan="3" class="text-center">Ständige Termine</th>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td colspan="2">Der Stammtisch des BIC findet jeden dritten Mittwoch im Monat ab 20.00 Uhr zurzeit im Hafencasino
        in der Überseestadt in Bremen (<a href="https://goo.gl/maps/wBj2CVN7XSSa2n2z8" target="_blank">Waller Stieg 6,
          28217 Bremen</a>) statt. Interessenten rufen am Besten vorher mal bei Oedings (04207/801506) oder bei Sigi
        Pohl (0421/5148529) durch oder schicken ne Mail an <img src="assets/img/email_info.png">.
      </td>
    </tr>
  </tbody>
</table>
