// .navbar.navbar-dark .navbar-brand:hover {
//   color:  #2E2E2E;
// }
// .navbar.navbar-dark .navbar-item a:hover {
//   color:  #2E2E2E;
// }

// .navbar.navbar-dark .navbar-nav .nav-item a {
//   color: #FFFFFF;
// }
