<!--Navbar-->
<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark red scrolling-navbar" [containerInside]="true">
  <mdb-navbar-brand>
    <a class="logo navbar-brand" [routerLink]="['/start']" title="B.I.C. Startseite">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACsAAAAeCAYAAAC16ufeAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPo
      AAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAB3RJTUUH4QodCyYay+Zg2wAAAAZiS0dEAP8A/wD/oL2nkwAADk5JREFUGBltwQmY13WdwPH35/v9/Y+5mRlmho
      GBYYZruEFEIA9wN1M2CwxZQ+1UO0x7si1du549OujZzS0tMy3bpdZUwvKATANJU+Sa4RogEAaYgWHu63//f9/vZxmL53F7fL2Ed/H9xzfw2o79bHrse4y6ZPlKc
      7bziOkaOuWIocVuJtm0ItnuGqc6q6CsZHZJPF5XXlE2ASdFNjCF6UwyFY/E/OBwoq2nb+hIdrDnoCktPOqHh0diwAygMB4zQ/VTTGXTfNd5tl3D/h6WXXcDTz68
      nncj/I07v/4dNm54lFi0gPrGqebYsf0yrW2Rm8JlxDGxfVXblvSXd19TU1+xfOGU6bNrasdVjB9fy9iKCsaMKaOoqIRoECF0IQMDffT19dM/MEhPX79v3bWz8+S
      JtoOnyyq3dxdW/m7htmcOHgOtqa2TeGmpHT9vqRtOJjQc6ueDq27gX+67i3cS/urhp7ew6cn/pbp2EgUFhbz8wlM22dPrq/ITtJKGyb3jztyRqUus00ZtSE9K6d
      RZU+UPq56jKChEUadeMcbw1KZnaWyYLIG1unD+HEZl0hnZf/S4WTJ+HEevv5Y9wwO8GcS1OYjvbYkW/yRTP+9Jus4lxrUfMOUlpXLk0D7HBStW3UK8aAwvPvEjR
      gkXvHftrXS1nyEM88RicRnq7DWT8k2uvLR88nF74BvDjQMfDhe5Aj8NpEK8iQV+KDEi3636pllX9yE5dKKVvc3N3PP5O/n2N9czNDxMKp1k2dLL2dnSzC1r1vLs
      c89w1/3f0JGPrvPTD+zWXEGBbfeencbK0xp0vhwvW5+6+uZHqWnMNGz4mq2dNteFYYgkh/nYR2/lzk98GPvAY4+y5YXNpDMpSqPlZl9qmwwe7fZFFZW3d0w7/tv
      hfxheEl6HlQnGSUQgYQyvOWPEmNanDsj+F/dxou0Y5WXFLFu2jD27m4nGYtRPnkRvTzc7d+2kpqqKRCLFtq0vy+aO02b+cJ+psoEkjPjD3ukNNiy5NJ9ZmTx96M
      Zz7YcO9NrsqeLOU0GstEKtOg7t30d723HsufN9GJRyKsxXWx73Nhktys3MbBy+pu/L2bVhoBOMl1CMBGL5oxc2hphzoAOOWCLC3LFNFBTHaZwylXnz5nLk8BGCw
      NDZ2Ulb2ykCa6mtqaH18CGmz5xFPJdn55H9nC0s4NkwNAMq5g2P3hnBNflsdTQ58vGjLpaKth74U/lIpx2YOJuxhTEapkxHlvz9SlJn06bi6HyfobOi67LWF9Jr
      sstkoeQ1KYGPImabQ3pALBgnSExI57IsnDCbFcF7+MCaD1BeNoaJ9fVk0mmMMaSSCTLpLKELscbgsjkeePxxZnT38ME3tvMrDen2sD5qeQ3lp3nH58S4yxBdLyZ
      4JF76/YXNe+6Jl1vb/P7PuWO/fBBZcckquaH543q4ZG/xtrnPbUvcklrsp5k8jgjnFc4qsttBv2BnWbCKrQ3oqe7n3676Gl9qupvQh1ix/H8KCCLCKHUOsZbc3n
      1E16zmWHGUr+RDZgkEIiRQmozhJowWKeGDIpFvR8q+3d/e+tXFxWX2jTOdzp5a9GfzYuYpHRo3+Hjq5tR1brbJyyARjnnoAt0RYq+IwDGPbwS5yuInGtIFOdbVr
      WH+mDnkXR4RQURQVd5JVVFV1DnUWtzxNlLPPE1lJMp0gZwIJwArQpkRXlWVhSLmSoMbctnlb1ZMOtmmZl9jTY0Npr2ywBdWFt/U977uW8J5EkqSiL7oMGc9Uiho
      oUHPOfh0AFHwgSI5T8xbJsTGM8oaixHDRarKRcYY3iaCAcLhIYwLyQnM88IlAlda4f58yLAXVgaGP6LyWqjmCwG8lR3+3pMTZ249mcmeM8eSLXZkdt8/+fcokhA
      jDoJhRZygxSAZ0HqDGwtaAsQEH3VUVpQzo2IqeBCEUYoiIlhrsdZirWWUooxSQHt68OqJiBAIiMBUD/daS40Rjir8PK9kwNR4CT9Bvqqh+8Td5R0HCS6dsGxVfq
      Fb7EtEGVZDILiPBcjzDj3m8BMEFhikU+G0Qo+HkyFuSpQ/x08xYWktOFBRjDV0neuhraOdSDQKzjN3zkwi0QBV3ha2d1AIdBpo8UqnwmyBKxDyInw39CyNGKxTn
      MdeAbzX59Y9Nu+a9SZVn/qQa1Qkj7dWwCvkgBststIi1weYFg/Ph5hCkJ2efD5kclMdn/vIZ/jN5s3YwOKcx3tPdXUlr27dxm23f5Kx5SUYY1BVRAwOKDx1ktdj
      wmb1lKIMKdyR8xwHFnv4mDVMdnCXGFKKFCq6FF9vOw9dafK14Rw3BnwecSgeUMAPKH6BRXvAb8xhbgxwsyySFrJLc3xg9fWUFZQy3NfBKBFwziGBoai4mPlz51D
      f2ICioOADS5AOefPsKV42Abd7WOGFLwr8d9RQrZDzsNoL6xDUc5Fv9J6GdHKBoVQqJCKIqoAgjFLEgCjwUoipMOg4wR5yaNpROqecll8cYOXKq7n11ttQD8YYLu
      ro6GBG0wz+QkEVEeB8Jz8+28F1kSiBUwaAlMIiBwGCCiSBYVVGCeBUqADqokGjceKyXCAiCIoIWIRRApgsYPmLEwpW0N9kef3RP3Ht2lVYG+CdRxBEhFHnu7uYP
      m0aowRBVTHAkWPHOTMwwMwgQkqVCGCANBd4RRQMimWUIoCIIFygPmpiYdBLqIigXsGrooAK+JSiNwboTQGaBo5Ccl6WeXct5FM338Lam29mcGgYGxi8KsZYUOju
      7mbSxIlc5FUZdexIKybMUyiCFy4QUBDhAkVFuEgABQQlYWBEpNPIed1pEqAWFUBE8CjKBR6oBsYI2gdyGvKL8swbP5fr/u79iIaIKghvM0YYGhwmkUpSU13DKGM
      MxlpGpVsPkbEWULyCQ7GAQRCBAOVtCoqggIC0I5wJgj2m8nDBC8E5cFaNeFAFAQyKKqgHCg284TDXWOyigNnMZMMvnuCzd3yCsjFldHX3o14Z1d7RTjKdpLqmil
      GZTI6RVAaSIdPajvOWDXhFPaWBUGxgIICEKCkDPQYEUP5K0RA1+0xwvmf8xO3mT+17/hA/bF+XrIoadQYQQFQwEZBuhfVZ7BaHH3QUPRVn2w9fZvEVC7j/vq/Rv
      Gcft93+SYKIJTGcYsvmF3G5HAcPHmbUg//1Ax744YOQTDKro51PFRVwTzLP153nIeDXqhQYeESVh7yjUMALeFGKBLffwmvRyKb5u3d0yexxUykIoivPfza/JXcp
      zo5gvQFVkADoV0w3SNzghvKUFBfz0s3P0lDTgFclMTRMb28XjVOn093VxUB/H4UFhaQyGWY0NdF+4iTRqirG7txH+uM3ES8v5ZBznPXKOBGmC8QVTooSQxinEAI
      qaFyQf7am74GSMQvJu/ag9Z5eg0//bu7WKb/orc19xI+TvCY1YgJwTjAVgqsBgyGNo6l8IpOrJxPmHcZCSVkppWPKUFWqamqorqnhIlWlrn4SEgRkjh8D78gozP
      XCAgSvSlohI0qDBxUlj+BAy0Tcz40GT0Wi90Z7e9sXBtYGKx5o1Fe61vAltnzq2ZKeSSNrdDkVktcUEbGAA3FgBFw+T0NFHSICBkSE0DkEMMag3uFVQXmbEYNRx
      QP+bAciXCCkRVEUQRDAIORE8bxNy4TwOUvkxzb6H2tGBh8vCSL2W/96rzM0el3e9LSMoyqz9DeVq8s2yR+DTiKUkMerR0EFjBGceKoLahmlqqgKkSDAWouIIBIQ
      sREikQiRSAQbWIYTGUJA+ntRa7jI8BeKMMoBEcSVGtzGwES+YyP/uaX3zL2zELth1izHP95BMJDLkS9y+kzTW2bHkUODP5Ar3/fIUNfDI9fobZl5ouIJTV6sehV
      QqqOVjFIFY4Tf//4VdjfvZVrDFH675Tnu/9K97NjxJv3Dg1y55D386okNTGqaxZ3JERCDogigCKMcYMGXge8xBD+0kv+5tXfdtv/wj75RU2FfbWz0Tf19zFm+hG
      BRQw0t7V2MjAn9kkvnmK989pRLloS3X7Kh7KX+q9wPMpcyTiegAqHmMaLWcIGqMqq97S1273ydjjMnuXzxZTz40IOUFhWSSKeRbBZEOHT0CBmBAlE8igqoikZEf
      BFKwojZLAQbjd3163jsM2E22/LMjMYgPn68q05nNSLClKn12JbDp7jvjrX8+egpfKhad76AyDlnG5rjhxr2FvxssC+XljzziNniZFGG2dUzuWbsCuedU2utIEa6
      e3pZeulifv38c1SPHUvoPN7nUBOQS6cwhUVUnjurU/u6VYOIK1Q0ajB9VuTVwJhfRu2Jn0RjX3zpqis/n39mc+flP3rIFi+Y6YhFKFPPollz+O5P/gfLBb/fvpv
      VVy8kncmyoq2Wa7sa9fnLz9hT00eyE16Jbp+yI/6zfB+9rj+ckEykq6+uvdqUFBWbILDSeqiVTD7tI5GYP336lK644nLt6GjXIBLTuEVtJEbOhVy/erWM2fWmnA
      9z5mAg5nkr6SeM2fpoNLjv+fmNX+iKavP1rzdL3U8fMekTHa6r5TBTpk1k4+btbN+1l1HC37jr1pVs3tNKYY9hbHWJHJudtLo8cFvvbtQyptj3lW1aUHflJSsXz
      F64fEbTjFnFRUXVVVVVQSqR4Pz5c6y+4UZa9uyi9ehh1t64jgP79zE4OEC8uCyx7/vr2850tzfvKyh8uaWgcDunz52lLMK3ejPyZnmxGZgx0SVTGSqHUlx79WK+
      /J3HeCfhXdy9agG9CcNrPX2UnBZq64rkrWlZ274u72xJTP2nT+Pbs1xQWlZWNrm6pmra9Ka54+vrJ47tOn+2aHzdRKyJjxw/eiAVeukaOn/u3K6Wlrf8e5e1s3W
      HK64sYVHtRN4/NGL/UFoopdNr3en+QS1J5Ln8sib+/eFNvJv/A2KT24iJvjsBAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE3LTEwLTI5VDExOjM4OjI2LTA0OjAwwe
      Kc2wAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNy0xMC0yOVQxMTozODoyNi0wNDowMLC/JGcAAAAASUVORK5CYII=" height="30"
        class="d-inline-block align-top" alt="">
      <strong>Bremer-Italo-Club</strong>
    </a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <!-- Start -->
      <li class="nav-item waves-light" [routerLinkActive]="['active']" mdbRippleRadius>
        <a class="nav-link" [routerLink]="['/start']">Start</a>
      </li>
      <!-- Termine -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Termine
          <span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLinkActive]="['active']"
            [routerLink]="['/termine/2020']">Termine
            2020</a>
          <div class="divider dropdown-divider"></div>
          <!-- <h6 class="dropdown-header">Alte Termine</h6> -->
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLinkActive]="['active']"
            [routerLink]="['/termine/2018']">Termine
            2018</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLinkActive]="['active']"
            [routerLink]="['/termine/2017']">Termine
            2017</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLinkActive]="['active']"
            [routerLink]="['/termine/2016']">Termine
            2016</a>

        </div>
      </li>
      <!-- Treffen Backsberg -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle type="btn" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Treffen Backsberg
          <span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" [routerLinkActive]="['active']"
            [routerLink]="['/treffen/einladung']">Einladung
            27. Treffen</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLinkActive]="['active']"
            [routerLink]="['/treffen/2004']">Bilder
            2004</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLinkActive]="['active']"
            [routerLink]="['/treffen/2005']">Bilder
            2005</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLinkActive]="['active']"
            [routerLink]="['/treffen/2006']">Bilder
            2006</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLinkActive]="['active']"
            [routerLink]="['/treffen/2007']">Bilder
            2007</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLinkActive]="['active']"
            [routerLink]="['/treffen/2008']">Bilder
            2008</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLinkActive]="['active']"
            [routerLink]="['/treffen/2009']">Bilder
            2009</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLinkActive]="['active']"
            [routerLink]="['/treffen/2010']">Bilder
            2010</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLinkActive]="['active']"
            [routerLink]="['/treffen/2011']">Bilder
            2011</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLinkActive]="['active']"
            [routerLink]="['/treffen/2012']">Bilder
            2012</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLinkActive]="['active']"
            [routerLink]="['/treffen/2013']">Bilder
            2013</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLinkActive]="['active']"
            [routerLink]="['/treffen/2014']">Bilder
            2014</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLinkActive]="['active']"
            [routerLink]="['/treffen/2016']">Bilder
            2016</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLinkActive]="['active']"
            [routerLink]="['/treffen/2018']">Bilder
            2018</a>

        </div>
      </li>
      <!-- Ausfahrten -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle type="btn" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Ausfahrten
          <span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLinkActive]="['active']"
            [routerLink]="['/ausfahrten/2018/pfingsten']">Pfingstfahrt
            2018</a>

        </div>
      </li>
      <!-- Mopeds -->
      <li class="nav-item waves-light" mdbRippleRadius [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/mopeds']">Mopeds</a>
      </li>
      <!-- Anfahrt -->
      <li class="nav-item waves-light" mdbRippleRadius [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/anfahrt']">Anfahrt</a>
      </li>
      <!-- Links -->
      <li class="nav-item waves-light" mdbRippleRadius [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/links']">Links</a>
      </li>
      <!-- Mehr -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle type="btn" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Mehr
          <span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLinkActive]="['active']"
            [routerLink]="['/gaestebuch']">Gästebuch</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLinkActive]="['active']"
            (click)="kontaktModal.show()">Kontakt</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLinkActive]="['active']"
            [routerLink]="['/impressum']">Impressum</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLinkActive]="['active']"
            [routerLink]="['/datenschutzerklaerung']">Datenschutzerklärung</a>
        </div>
      </li>


    </ul>
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" href="https://kradblatt.de/termine/stammtisch-des-bremer-italo-club/" target="_blank"
          mdbTooltip="Stammtisch Termin auf Kradblatt.de" placement="bottom" alt="Stammtisch Termin auf Kradblatt.de">
          <i class="fa fa-motorcycle"></i>
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<!--/.Navbar-->

<!-- Kontakt Info Modal -->
<div mdbModal #kontaktModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="kontaktModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-warning" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="kontaktModal.hide()">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Das Kontaktformular steht derzeit aus Technischen Gründen nicht zur Verfügung. Falls du eine Frage hast
          sende uns
          einfach eine E-Mail an:
          <img src="assets/img/email_info.png">
        </p>
      </div>
    </div>
  </div>
</div>
<!-- /.Kontakt Info Modal -->
